a {
	color:#35BFFF;
	text-decoration:none;
}
a:hover, a:active{
	color:#91DCFF;
}

#backlinks{
	float:right;
	padding:0 20px;
	line-height:22px;
	font-weight:bold;
	font-size:13px;
}
#backlinks a{
	text-align:right;
	display:block;
}

/* clearfix */
.clearfix {
	clear:both;
}

/* wrapper css */
#wrapper{
	margin-top:70px;
	width:100%;
}
#wrapper hgroup{
	text-align:center;
}
#wrapper h2{
	margin:5px 0;
	color:#FF6D99;
	text-shadow:1px 1px 2px #A50031;
	font-size:33px;
	font-family:Arial Narrow, Arial, sans-serif;
}
#wrapper h3{
	font-style:italic;
	font-weight:normal;
	font-size:18px;
	text-shadow:1px 1px 0 #fff;
	color:#888;
	margin:5px 0;
}

#container1{
	position:relative;
	width:1100px;
	margin:0 auto 25px;
	padding-bottom: 10px;
	
}
.grid:hover{
	box-shadow: 4px 4px 5px #aaa;
	-moz-box-shadow: 4px 4px 5px #aaa;
	-webkit-box-shadow: 4px 4px 5px #aaa;
}
.grid{
	width:188px;
	min-height:100px;
	padding: 15px;
	background:#fff;
	margin:8px;
	font-size:12px;
	float:left;
	box-shadow: 1px 4px 5px #aaa;
	-moz-box-shadow: 1px 4px 5px #aaa;
	-webkit-box-shadow: 1px 4px 5px #aaa;
/*
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
*/
	
	-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	-ms-transition: top 1s ease, left 1s ease;
}

.grid strong {
	border-bottom:1px solid #ccc;
	margin:10px 0;
	display:block;
	padding:0 0 5px;
	font-size:17px;
}
.grid .meta{
	text-align:right;
	color:#777;
	font-style:italic;
}
.grid .imgholder img{
	width:100%;
	background:#ccc;
	display:block;
	max-height: 300px;
}

@media screen and (max-width : 1240px) {
	body{
		overflow:auto;
	}
}
@media screen and (max-width : 900px) {
	#backlinks{
		float:none;
		clear:both;
	}
	#backlinks a{
		display:inline-block;
		padding-right:20px;
	}
	#wrapper{
		margin-top:90px;
	}
}
.song-date
{
	font-size:10px;
}
li .song-desc strong
{
	font-size:12px;
	border:none;
	margin:0;
}
li .buy-btn
{
  background: #013A79;
/*
  background-image: -webkit-linear-gradient(top, #f0f0f0, #b3b3b3);
  background-image: -moz-linear-gradient(top, #f0f0f0, #b3b3b3);
  background-image: -ms-linear-gradient(top, #f0f0f0, #b3b3b3);
  background-image: -o-linear-gradient(top, #f0f0f0, #b3b3b3);
  background-image: linear-gradient(to bottom, #f0f0f0, #b3b3b3);
*/
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
	text-decoration: none;
	width: 65%;
	margin: 0 20%;
	font-size: 10px;
	font-weight: bold;
	box-shadow: 1px 1px 5px #aaa;
	-moz-box-shadow: 1px 1px 5px #aaa;
	-webkit-box-shadow: 1px 1px 5px #aaa;
}
li .btn-wrap{width:100%;cursor:pointer;margin: 5% 0;}
/*
li .buy-btn:hover {
  background: #c2c2c2;
  background-image: -webkit-linear-gradient(top, #c2c2c2, #e0e0e0);
  background-image: -moz-linear-gradient(top, #c2c2c2, #e0e0e0);
  background-image: -ms-linear-gradient(top, #c2c2c2, #e0e0e0);
  background-image: -o-linear-gradient(top, #c2c2c2, #e0e0e0);
  background-image: linear-gradient(to bottom, #c2c2c2, #e0e0e0);
  text-decoration: none;
}
*/
#all_songs a{color:#013A79;text-decoration: none;}
#all_songs.sky-tabs > input:checked + label span span,
#all_songs.sky-tabs > label:hover span span
{background-color:#013A79;}
#all_songs #container1{width:100%;}
#all_songs .grid{width:23.5%;}
